<div id="container" style="max-width: 1200px;height: 800px;margin: auto;"></div>




<script>
	var data = <%= @graph.to_json.html_safe %>;
	sigma.renderers.def = sigma.renderers.canvas
	var s = new sigma();
	s.addRenderer({
	  container: document.getElementById('container')
	});
	s.graph.read(data);

    s.startForceAtlas2();
	s.refresh();
	//sigma.plugins.dragNodes(s, s.renderers[0]);
	sigma.plugins.relativeSize(s, 3);
</script>